# name: Pytest Tests

# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main

# jobs:
#   test:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout code
#       uses: actions/checkout@v4

#     - name: Install uv
#       uses: astral-sh/setup-uv@v1
#       with:
#         enable-cache: true
#         cache-dependency-glob: "uv.lock"

#     - name: Set up Python
#       run: uv python install 3.9

#     - name: Sync dependencies
#       run: uv sync

#     - name: Install pytest
#       run: uv pip install pytest

#     - name: Run pytest
#       run: uv run pytest
